/*主页index.html样式表*/
.top-bar-wrapper {
    width: 100%;
    background-color: #333333;
    height: 40px;
    line-height: 40px;
}

.top-bar a {
    font-size: 12px;
    color: #b0b0b0;
    display: block;
}

.top-bar a:hover {
    color: #fff;
}

.top-bar .line {
    font-size: 12px;
    color: #424242;
    margin: 0 8px;
}

.service, .top-bar-wrapper li {
    float: left;
}
.app:hover .qrcode,
.app:hover::after{
    display: block;
}
.app .qrcode {
    display: none;
    position: absolute;
    width: 124px;
    height: 148px;
    line-height: 1px;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    left: -40px;
}
.qrcode img {
    width: 90px;
    margin: 17px;
}
.app {
    position: relative;
}
.app::after {
    display: none;
    content: '';
    position: absolute;
    /*设置4个方向的边框*/
    width: 0;
    height: 0;
    border: 8px solid transparent;
    /*去除上面*/
    border-top: none;
    border-bottom-color: #ffffff;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.app .qrcode span {
    font-size: 14px;
    color: #000000;
}

.shop-cart, .user-info {
    float: right;
}

.shop-cart {
    margin-left: 26px;
}

.shop-cart a {
    width: 120px;
    background-color: #424242;
    text-align: center;
}

.shop-cart:hover a {
    background-color: #fff;
    color: #ff6700;

}

.shop-cart i {
    margin-right: 3px;
}
